/* Global */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alexandria", sans-serif !important;
}

:root {
  --header-color: rgba(30, 40, 57, 255);
  --header-text: rgba(235, 236, 239, 255);
  --global-background-color: rgba(248, 252, 242, 0.495);
  --main-text: #111827;
  --global-font: "Alexandria", sans-serif;
  --card-bg: white;
  --input-bg-color: #dfdfdf;
  --input-border-colr: #626b79;
  --main-color: #b89942;
  --main-color-hover: #897339;
}

/*--------------- Loader spinner ------------ */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 2s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: var(--main-color);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

a {
  text-decoration: none;
}

/* container */
.container {
  /* overflow: hidden !important; */
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--global-background-color);
}

.cont {
  padding: 0px 40px;
  margin: 0px auto;
}

.background-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  inset: 0;
  z-index: 0;
}

.gradient-overlay {
  position: absolute;
  inset: 0;
  background: rgb(184, 153, 66);
  background: linear-gradient(
    156deg,
    rgba(184, 153, 66, 1) 4%,
    rgba(240, 229, 197, 1) 13%,
    rgba(255, 255, 255, 1) 34%,
    rgba(255, 255, 255, 1) 61%,
    rgba(240, 229, 197, 1) 88%,
    rgba(184, 153, 66, 0.5663515406162465) 96%
  );
  opacity: 0.1;
}

.spinning-pattern {
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 80 80%22 width=%2280%22 height=%2280%22%3E%3Ccircle cx=%2240%22 cy=%2240%22 r=%2236%22 fill=%22none%22 stroke=%22%23999999%22 stroke-width=%221%22 stroke-opacity=%22.1%22%2F%3E%3C%2Fsvg%3E");
  background-size: 24px 24px;
  animation: spin 60s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* nav header */

.nav-header {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 10;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  background-color: var(--header-color);
}

.nav-header h1 {
  color: var(--header-text);
}

/* event-header */

.event-header {
  justify-content: space-between !important;
}

.goback {
  cursor: pointer;
}
/* main page  */

.content {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 15%;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.row-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 150px;
  cursor: pointer;
  color: white;
  height: 160px;
  transition: transform 0.3s ease;
}
.button a {
  font-size: 25px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: #80692a !important;
  transform: scale(1.04) !important;
}

.button.one {
  background-color: #b89942;
  transition: transform 0.3s ease;
}
.button.tow {
  background-color: #b89942;
  transition: transform 0.3s ease;
}

.button.three {
  background-color: #b89942;
  transition: transform 0.3s ease;
}
.button.for {
  background-color: #b89942;
  transition: transform 0.3s ease;
}

.logout-button {
  margin-top: 6%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: #b87142;
  padding: 15px 70px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: ease 0.6s;
}

.logout-button:hover {
  background-color: #a72222;
}

.logout-button i {
  font-size: 30px;
}

/* event information page */

.gr-background {
  padding: 2px;
  width: 100%;
  max-width: 950px;
  border-radius: 10px;
  background: rgb(184, 153, 66);
  background: radial-gradient(
    circle,
    rgba(184, 153, 66, 1) 0%,
    rgba(230, 201, 54, 1) 100%
  );
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.event-content {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 40px;
  color: var(--main-text);
}
.eventForm {
  width: 100%;
}

.eventNumber {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.eventNumber input {
  width: 100%;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-colr);
  border-radius: 10px;
  padding: 18px 15px;
  font-size: 18px;
  color: var(--main-text);
}

.eventNumber input::placeholder {
  color: #676873;
}

.eventNumber input:focus {
  outline: none;
}

.eventBtn {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 50px;
  color: white;
  background-color: var(--main-color);
  border: 1px solid transparent;
  padding: 18px 0px;
  transition: ease 0.3s;
}

.eventBtn:hover {
  background-color: var(--main-color-hover);
  transition: ease 0.3s;
}

.eventBtn i {
  font-size: 25px;
}

.displayOptions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option {
  font-size: 18px;
  display: grid;
  align-items: center;
  grid-template-columns: 1em auto;
  gap: 1em;
}

.option + .option {
  margin-top: 0.5em;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: transparent;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 1.5px solid black;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 50ms transform ease-in-out;
  background-color: transparent;
}

input[type="radio"]:checked::before {
  transform: scale(1);
  background-color: black; /* Set the inner circle color to black */
}

/*------------------- inquiry page -------------  */
.inquiry-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inquiry-input {
  width: 100%;
}

.inquiry-input input {
  width: 100%;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-colr);
  border-radius: 10px;
  padding: 18px 15px;
  font-size: 18px;
  color: var(--main-text);
  text-align: center;
}

.inquiry-input input::placeholder {
  color: gray;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inquiry-input input:focus {
  outline: none;
}

.culc-inputs {
  width: 100%;
  max-width: 600px;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
}

.culc-inputs .btn {
  background: #604c3879;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease 0.3s;
}

.culc-inputs .btn:hover {
  background-color: #645834cf;
  transition: ease 0.3s;
}

.inquiry-button {
  width: 100%;
  padding: 13px 0px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: var(--global-font);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.3s;
  background-color: var(--main-color);
}

.inquiry-button:hover {
  background-color: var(--main-color-hover);
  transition: ease 0.3s;
}

/* ------------------ Scheduled Registration -----------------------  */

.scheduled {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  color: var(--main-text);
}

.scheduled-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.scheduled-input input {
  width: 100%;
  border-radius: 10px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-colr);
  padding: 15px 15px;
  text-align: center;
  font-family: var(--global-font);
}
.scheduled-input input:focus {
  outline: none;
}

.scheduled-input button {
  padding: 15px 35px;
  border-radius: 20px;
  border: none;
  transition: ease 0.3s;
  background-color: var(--main-color);
  color: white;
  font-family: var(--global-font);
  cursor: pointer;
  font-size: 18px;
}

.scheduled-input button:hover {
  background-color: var(--main-color-hover);
  transition: ease 0.3s;
}

.scheduled .table {
  width: 100%;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  overflow-y: auto;
  height: 53vh;
}

.scheduled .table .row-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: white;
  background-color: var(--main-color);
  padding: 18px 10px;
  border-bottom: 2px solid gray;
}

.scheduled .table .row-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 10px;
  border-bottom: 1px solid gray;
}

.scheduled .table .row-content h5 {
  text-align: start;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}
.scheduled .table .row-header h3 {
  width: 100%;
  text-align: start;
}

/* -------------- Register new Event ---------------- */

.new-event-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-event-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.new-event-input textarea {
  height: 80px;
  padding: 15px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-colr);
  color: var(--main-text);
  border-radius: 10px;
  font-family: var(--global-font);
}

.new-event-input textarea:focus {
  outline: none;
}

.double-input {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
}

.new-event-button {
  cursor: pointer;
  margin-top: 20px;
  border: transparent;
  border-radius: 10px;
  color: white;
  padding: 14px 5px;
  font-family: var(--global-font);
  transition: ease 0.3s;
  background-color: var(--main-color);
}

.new-event-button:hover {
  background-color: var(--main-color-hover);
  transition: ease 0.3s;
}

.new-event-form input {
  padding: 14px;
  border-radius: 10px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-colr);
  color: var(--main-text);
  font-family: var(--global-font);
}

.new-event-form input:focus {
  outline: none;
}

/* ------------------- Event Page --------------- */

.plus {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.self-print {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}
.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  &:before,
  &:after {
    content: "";
  }
  &:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover &:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + & {
    background: green;
    &:before {
      left: 30px;
    }
  }
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.self-print .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.entry-card-print {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  justify-content: center;
  background-color: var(--main-color);
  width: 100%;
  border-radius: 10px;
  padding: 18px 14px;
  text-align: center;
  cursor: pointer;
  transition: ease 0.3s;
}

.entry-card-print:hover {
  transition: ease 0.3s;
  background-color: var(--main-color-hover);
}

.new-registration {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  justify-content: center;
  background-color: #059669;
  width: 100%;
  border-radius: 10px;
  padding: 18px 14px;
  text-align: center;
  cursor: pointer;
  transition: ease 0.3s;
}

.new-registration:hover {
  transition: ease 0.3s;
  background-color: #0a7150;
}

/*------------- Password Page ------------ */

.password-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  color: var(--main-text);
}

.password-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.password-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.password-text h2 {
  font-size: 30px;
}

.password-text h4 {
  font-weight: 400;
}
.password-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.password-form input {
  width: 100%;
  padding: 17px 15px;
  border-radius: 10px;
  border: 1px solid var(--input-border-colr);
  background-color: var(--input-bg-color);
  color: var(--main-text);
  font-size: 18px;
  font-family: var(--global-font);
}

.password-form input:focus {
  outline: none;
}

.password-form button {
  width: 100%;
  padding: 17px 15px;
  border-radius: 10px;
  font-family: var(--global-font);
  color: white;
  border: 1px solid transparent;
  background-color: var(--main-color);
  font-size: 20px;
  cursor: pointer;
  transition: ease 0.3s;
}

.password-form button:hover {
  transition: ease 0.3s;
  background-color: var(--main-color-hover);
}
